@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 15s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px !important;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: #edddff;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}
.custom-scrollbar::-webkit-scrollbar-track {
  height: 4px;
  background-color: #121113;
  border-radius: 10px;
}
.categories {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.categories::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

body {
  background-color: #020007 !important;
}
